:root {
  --primary-color: #90e0ef;
  --secondary-color: #00b4d5;
  --tertiary-color: #0077b6;
  --yellow-color: #ffb900;
  --gray-color: #808080;
}

* {
  box-sizing: border-box;

  line-height: 1;
  padding: 0;
  margin: 0;
}

/* POPUP */
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.829);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 1001;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.popup.show {
  display: flex;
  /* animation-name: fadeIn;
  animation-duration: 0.5s; */
}

/*.popup .close-popup-btn {*/
/*  position: absolute;*/
/*  right: 5%;*/
/*  top: 1%;*/
/*  width: 40px;*/
/*  height: 40px;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  background-color: white;*/
/*  color: #f31559;*/
/*  border-radius: var(--radius-half);*/
/*  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;*/
/*  transition: all 300ms ease-in-out;*/
/*  font-size: 20px;*/
/*  z-index: 1;*/
/*  cursor: pointer;*/
/*}*/

/*.popup .close-popup-btn span {*/
/*  transition: all 300ms ease-in-out;*/
/*}*/

/*.popup .close-popup-btn:hover span {*/
/*  color: white;*/
/*}*/

/*.popup .close-popup-btn span {*/
/*  transition: all 300ms ease-in-out;*/
/*}*/

.popup .close-popup-btn:hover {
  background-color: #f31559;
  color: white;
  transform: scale(1.1);
}

.popup .popup-container {
  width: 40%;
  max-height: 90vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  box-shadow: rgba(14, 105, 196, 0.2) 0px 8px 24px;
  position: relative;
  transform: translateY(-100px);
  opacity: 0;
  border-radius: 10px;
  overflow: hidden;
}

.popup.show .popup-container {
  transform: translateY(0);
  opacity: 1;
  transition: 3000ms all 3000ms ease-in-out;
}

.popup .mini-product {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.popup .mini-product .product-img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border-radius: 5px;
}
.popup .mini-product .product-content {
  width: calc(100% - 60px);
}

.popup .popup-heading {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  font-weight: 700;
  color: var(--clr-accent);
  border-bottom: 1px solid var(--clr-gray-300);
  margin-bottom: 20px;
}

.popup-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup-container form button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #040943;
  color: white;
  outline: none;
  border: none;
}

.popup .popup-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popup h2 {
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--clr-primary-lighter);
  color: var(--clr-primary);
}

.popup .popup-btn-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /*gap: 20px;*/
  margin-top: 10px;

}

.popup .popup-btn-group a {
  /*min-width: 100px;*/
  width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
  border-radius: 25px;
  padding: 0 10px;
  transition: all 300ms ease-in-out;
}

.popup .popup-btn-group a.cancel {
    color: black;
    font-size: initial;
}
.popup .popup-btn-group a.cancel:hover {
    font-weight: bold;
}

.popup .popup-btn-group a.continue {
    background-color: #ff8900;
}
.popup .popup-btn-group a.continue:hover {
    background-color: #ff7800;
    font-weight: bold;
}

.container-details {
  margin-top: 84px;
  background-color: #f6f5f7;
  min-height: 170vh;
  width: 100%;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  padding: 30px;
}

.box-details {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.product-img-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 1px;
}

.main-img {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #ebeaea;
}

.main-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.main-img img.animate-in {
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

.product-imgs {
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  min-height: 100px;
}

.hidden-imgs {
  display: none !important;
}

/* .owl-carousel {
  display: flex !important;
  align-items: center;
  justify-content: center;
} */

.product-imgs .img {
  width: 130px;
  height: 90px;
  /* margin: 0 auto; */
  border-radius: var(--radius-400);
  overflow: hidden;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border-radius: 5px;
  overflow: hidden;
  background-color: red;
}

.product-imgs .img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.product-imgs .img:hover {
  background-color: var(--clr-primary-lightest);
}

.product-imgs .img img {
  object-fit: cover;
}

.box-details .images {
  grid-area: images;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "active active active"
    "idle idle idle";
  grid-gap: 5px;
}

.box-details .images .img-holder img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.box-details .images .img-holder.active {
  grid-area: active;
}

.box-details .images .img-holder:not(.active):hover {
  opacity: 0.95;
  cursor: pointer;
}

.box-details .basic-info {
  width: calc(100% - (50% + 20px));
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box-details .basic-info .rate {
  color: var(--yellow-color);
}

.box-details .basic-info .price {
  margin: 4px 0;
  font-weight: 300;
  display: flex;
}

.box-details .basic-info .date-location {
  display: flex;
  align-items: center;
}

.box-details .basic-info .old-price {
  text-decoration: line-through;
  opacity: 0.6;
  font-size: 12px;
}

.box-details .basic-info .item-location {
  margin-top: 2px;
  font-weight: 500;
  font-size: 15px;
  color: #000000;
  display: block;
  font-style: normal;
  /* font-weight: 600; */
  padding-left: 4px;
}

.box-details .basic-info .options a {
  color: white;
  background-color: var(--secondary-color);
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  border-radius: 5px;
}

.box-details .user-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.box-details .infos {
  width: fit-content;
  display: flex;

  width: 100%;
  gap: 3px;
  padding: 3px 10px;
  background-color: #f3f3f3;
}

.box-details .infos span {
  color: #333;
}

.box-details .infos span:first-child {
  font-size: 14px;
  width: 20%;
}
.box-details .infos span:nth-child(2) {
  font-weight: 500;
}
.box-details .infos span:nth-child(2)::first-letter {
  text-transform: uppercase;
}

.box-details .user-info .user-profile {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.box-details .user-info .user-profile .profile-img {
  width: 30px;
  height: 30px;
}
.box-details .user-info .user-profile .profile-img img {
  width: 100%;
  height: 100%;
}

.box-details .user-info .user-profile .verification span {
  color: #279eff;
}

.box-details .basic-info .options a:hover {
  background-color: var(--tertiary-color);
}

.box-details .user-actions {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.box-details .user-actions .favourite {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #6cbcfd;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}

.box-details .user-actions .favourite.is-marked,
.box-details .user-actions .favourite.is-marked:hover {
  border: none;
  background-color: #6cbcfd;
}

.box-details .user-actions .favourite:hover {
  background-color: #6cbcfd;
}

.box-details .user-actions .favourite span {
  color: #6cbcfd;
  font-size: 25px;
  transition: all 300ms ease-in-out;
}

.box-details .user-actions .favourite:hover span {
  color: white;
}

.box-details .user-actions .favourite.is-marked span {
  color: #ffffff;
}

.box-details .user-actions .favourite.is-marked:hover span {
  color: #ffffff;
}

.box-details .follow-seller {
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  background-color: #279eff;
  color: white;
  border-radius: 30px;
  transition: all 300ms ease-in-out;
  font-size: 14px;
}

.box-details .follow-seller:hover {
  background-color: #0880e3;
}

.box-details .description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.box-details .description p {
  color: #686868;
  font-size: 16px;
  line-height: 1.6;
}

.box-details .basic-info button:hover {
  opacity: 0.8;
}

.box-details .etat {
  /* grid-area: etat; */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box-details .row {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.box-details .etat a {
  width: 100%;
  height: 35px;
  padding: 0 10px;
  background: #023047;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;

  /* margin-left: 92px; */
}

.box-details .etat a span {
  color: white;
  margin-right: 10px;

}

.box-details .etat .delete {
  background: #fb8500;
}

.box-details .etat button:hover {
  opacity: 0.8;
}

.box-details .basic-info .message {
  background: #ff7300;
  color: #fff;
  border: none;
  min-width: 120px;
  padding: 0 10px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.box-details .basic-info .fav {
  background: #000f23;
  color: #fff;
  border: none;
  padding: 7px 13px;
  border-radius: 15px;
  cursor: pointer;
  /* margin-top: 20px; */
  margin-left: 10px;
  font-size: 20px;
}

.box-details .basic-info .signal {
  background: #adadad;
  color: #fff;
  border: none;
  padding: 5px 9px;
  border-radius: 11px;
  cursor: pointer;
  /* margin-top: 20px; */
  margin-left: 10px;
  font-size: 25px;
}

.box-details .description .features {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--gray-color);
}

.box-details .description .features i {
  margin-right: 5px;
}

.box-details .description .features .fa-circle-check {
  color: var(--tertiary-color);
}

.box-details .description .features .fa-circle-xmark {
  color: var(--yellow-color);
}

.box-details .description .social {
  list-style: none;
  display: flex;
}

.box-details .description .social a {
  margin-right: 15px;
  color: var(--gray-color);
}

.box-details .description .social a:hover {
  color: var(--secondary-color);
}

@media (max-width: 991px) {
  .box-details {
    width: 100%;
    flex-direction: column;
  }

  .product-img-container {
    width: 70%;
  }

  .box-details .basic-info {
    width: 70%;
  }

  .box-details .infos {
    width: 100%;
    height: 40px;
    flex-direction: column;
  }

  .box-details .infos span {
    position: unset;
  }

  .box-details .infos span:first-child {
    width: unset;
  }

  .bobox-detailsx .basic-info .options a {
    padding: 8.5px 12px;
  }
}

@media screen and (max-width: 991px) and (min-width: 769px) {
  .box-details .basic-info .options {
    position: absolute;
    align-self: flex-end;
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .box-details {
    width: 600px;
    grid-template-areas:
      "images info"
      "description description";
  }
  .box-details .images {
    gap: 3px;
  }
  .box-details .images .img-holder img {
    border-radius: 5px;
  }

  .popup .popup-container {
    width: 80%;
  }
}

@media (max-width: 640px) {
  .box-details {
    width: 100%;
    min-height: 100vh;
    border-radius: 0;
    padding: 10px;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "images"
      "info"
      "description";
  }
}

@media (max-width: 750px) {
  .container-details {
    padding: 10px;
  }

  .product-img-container {
    width: 100%;
  }

  .box-details .basic-info {
    width: 100%;
  }

  .box-details .row {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .product-imgs .img {
    width: 80px;
    height: 60px;
  }

  .popup .popup-container {
    width: 95%;
  }
}
