body {
  background-color: #f6f5f7;
}

.form {
  background-color: rgb(152, 36, 36);
}

.container-create {
  padding: 30px;
  padding-bottom: 50px;
  text-align: center;
  position: relative;
  margin: 104px auto;
  top: 80px;
  background-color: #ffffff;
  max-width: 600px;
  width: 95%;
  border-radius: 15px;
}

.title {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}

.container-create form {
  margin-top: 30px;
}

.btn-publier {
    position: relative;
    left: 408px;
    top: 20px;
    width: 260px;
}


.input_field {
  width: 100%;
}

.input_field label {
  color: #333;
}

.input_field input,
.input-field input[type="text"] {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.input-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.input-field > label {
  font-size: 14px;
  color: #333;
}

.input-field input#alt-phone {
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.input-field input#alt-phone.show {
  height: 50px;
  visibility: visible;
  opacity: 1;
}

.input_field textarea {
  position: relative;
  height: 100px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px 15px;
}

.input_field .btn-create {
  width: 50%;
  height: 45px;
  background: #ff7800;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.select-box {
  width: 100%;
}

.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0px 10px;
}

.column {
  display: flex;
}
@media (max-width: 900px) {
  .input-field {
    word-wrap: break-word;
    white-space: break-spaces;
  }
}
