@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700;800&display=swap');


* {
  font-family: "inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 48;
}

:root {
  --light: #fff;
  --grey: #f1f0f6;
}

.note {
  min-width: 60%;
  height: 60px;
  display: flex;
  align-items: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 0 10px;
}

.note a:hover {
  background-color: #daeafc;
  color: #055aba;
}

.note.warning {
  background-color: #fb8500;
  color: white;
}
.note.success {
  background-color: rgb(5, 219, 55);
  color: white;
}

.note.error {
  color: white;
  background-color: rgb(255, 0, 51);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "DM Sans", sans-serif;
}

header {
  position: relative;
  width: 100%;
  height: 70px;
  background: #023047;
  color: white;
  display: flex;
  border-radius: 0px 0px 0px 0px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
  padding: 0 20px;
}

header .burger {
  display: none;
}

.sell {
    display: flex;
    align-items: center;
    min-width: 109px;
    height: 40px;
    justify-content: center;
    gap: 10px;
    border: 2px solid white;
    background-color: #fb8500;
    padding: 0 20px;
    border-radius: 50px;
    font-size: 15px;
    color: white;
    margin-right: 10px;
}

header .right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 145px;
  cursor: pointer;
  margin-left: 15px;

  align-items: center;
  justify-content: space-around;
}

.logo_cc {
  width: 145px;
  cursor: pointer;
  margin-left: 62px;
  margin-top: 30px;
  align-items: center;
  justify-content: space-around;
}
/*.logo {
    display: flex;
    align-items: center;
    height: 65%;
    margin-left: 3%;
    justify-content: space-around;
}
*/

.navbar {
  position: relative;
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.user-pic {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 30px;
}

.searchBox {
  position: absolute;
  width: 100%;
}

.user-info {
  display: flex;
  align-items: center;
  /*margin-bottom: -15px;*/
}

.user-info h3 {
  font-weight: 500;
  color: #1e1e1e;
}

.user-info img {
  width: 60px;
  height: 60px;

  border-radius: 50%;
  margin-right: 15px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: -20px;
}

.user-infoo h3 {
  font-weight: 500;
  color: #1e1e1e;
}

.user-infoo img {
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.searchBox input {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 50px;
  padding: 1%;
  text-indent: 40px;
  font-size: 16px;
  outline: none;
}

#searchIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: rgb(80, 80, 80);
  cursor: pointer;
  z-index: 221;
}

.btn-vendre {
  position: relative;
  width: 145px;
  height: 42px;
  background: #fb8500;
  border: 2px solid #ffffff;
  border-radius: 29px;
  margin-right: 20px;
}

.btn-vendre a {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  left: 75%;
  margin-left: -49px;
  top: 21%;
}

.btn-vendre img {
  position: relative;
  left: 75%;
  margin-left: -80px;
  top: 25%;
  width: 24px;
}

.btn-vendre:hover {
  background: #ff8800;
}

.store {
  width: 20px;
}

/*---btn-vender-profil------*/

.btn-vendre-profil {
  position: relative;
  width: 127px;
  height: 42px;
  left: -182px;
  background: #fb8500;
  border: 2px solid #ffffff;
  border-radius: 29px;
}

.btn-vendre-profil a {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  left: 75%;
  margin-left: -49px;
  top: 21%;
}

.btn-vendre-profil img {
  position: relative;
  left: 75%;
  margin-left: -80px;
  top: 25%;
  width: 24px;
}

.btn-vendre-profil:hover {
  background: #ff8800;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main a {
  margin-right: 25px;
  margin-left: 0px;
  color: var(--light);
   font-size: 15px; 
  transition: all 0.5s ease;
}

.main-profill a {
    margin-right: 13px;
    margin-left: 0px;
    color: var(--light);
    font-size: 15px;
    transition: all 0.5s ease;
}

.main span {
  margin-right: -18px;
}

.main spann {
  margin-right: 15px;
}

.main a:active,
:focus {
  font-weight: 700;
}

.main a:hover {
  color: var();
}

.main-profil {
  display: flex;
  align-items: center;
  margin-right: -162px;
}

.main-profil a {
  margin-right: 25px;
  margin-left: 0px;
  color: var(--light);
  font-size: 18px;
  transition: all 0.5s ease;
}

.main-profil span {
  margin-right: 15px;
  font-size: 16px;
}

.main-profil a:active,
:focus {
  font-weight: 700;
}

.main-profil a:hover {
  color: var();
}

.shadow {
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.category {
  position: absolute;
  width: 100%;
  height: 84px;
  top: 70px;
  overflow-x: auto;
  background: rgba(33, 158, 188, 0.8);
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category::-webkit-scrollbar {
  height: 0px;
}

.box {
    width: 65px;
    height: 65px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: auto;
    background: rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
    border-radius: 20px;
    margin: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.box:hover::after {
  width: 100%;
}
.box:hover {
  background-color: #ffa60024;
}

.box:hover::before {
  width: 100%;
}

.box a {
  text-decoration: none;
  color: none;
}

.box i {
    margin-top: 14px;
    font-size: 25px;
}

.box p {
    font-size: 8px;
    margin: 5px;
    font-weight: bold;
}

.box span {
    margin-top: 10px;
    font-size: 30px;
}

.home-icon {
  width: 30px;
  margin-left: 18px;
  margin-top: 10px;
}

/* Fin HEADER */

.img-presentation img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.img-presentation {
  margin-top: 84px;
  width: 100%;
  height: 50vh;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../Photos/Presentation.svg");
  background-position: center;
  background-size: cover;
  position: relative;
  isolation: isolate;
}

/* .img-presentation::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.379);
  z-index: -1;
} */

.img-presentation p {
  width: 65%;
  /* font-family: 'Helvetica Rounded'; */
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  font-size: clamp(23px, 5vw, 50px);

  text-align: center;

  color: #ffffff;

  text-shadow: 7px 5px 6px rgba(0, 0, 0, 0.15);
}

.img-presentation p p1 {
  color: #ff7800;
  font-size: 48px;
}
/*//////////////////////// Begin Button Login /////////////////*/

.flex-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}

.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: #ffffff8d;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  /* left: 50%; */
  /* top: 50%; */
  z-index: 2;
  overflow: hidden;
  transform: scale(0) translateY(-65%);
  transition: scale 0.3s ease;
}
.flex-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btnLogin-popup {
  cursor: pointer;
  margin-right: 25px;
  margin-left: 0px;
  color: var(--light);
  font-size: 15px;
  transition: all 0.5s ease;
}

.wrapper.active-popup {
  transform: scale(1) translateY(-599%);
}

.wrapper.active {
  height: 520px;
  margin-top: 478px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: transform 0.18s ease;
  transform: translateX(0);
  top: 0px;
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #ff7800;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.form-box h2 {
  font-size: 2em;
  color: #162938;
  text-align: center;
}

.form-box h3 {
  font-size: 0.8em;
  color: #162938;
  text-align: center;
  padding-top: 10px;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #162938;
  line-height: 57px;
}

.remember-forgot {
  font-size: 0.9em;
  color: #162938;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: #162938;
  margin-right: 3px;
}

.remember-forgot a {
  color: #162938;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: #ff7800;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.login-register {
  font-size: 0.9em;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #162938;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

/*//////////////////////// Fin Button Login /////////////////*/

/* login card */

.login-card {
  top: 100px;
  position: relative;
  z-index: 3;
  width: 25%;
  margin: 0 20px;
  padding: 70px 30px 44px;
  border-radius: 1.25rem;
  background: #fff;
  text-align: center;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.login-card > h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 12px;
}

.login-card > h3 {
  color: rgba(0, 0, 0, 0.38);
  margin: 0 0 30px;
  font-weight: 500;
  font-size: 1rem;
}

.login-form {
  width: 100%;
  margin: 0;
  display: grid;
  gap: 16px;
}

.login-form > input,
.login-form > button {
  width: 100%;
  height: 50px;
}

.login-form > input {
  border: 2px solid #ebebeb;
  font-family: inherit;
  font-size: 15px;
  padding: 0 16px;
  border-radius: 1.25rem;
  transition: all 0.375s;
}

.login-form > input:hover {
  border: 2px solid #a56300;
}

.login-form > button {
  cursor: pointer;
  width: 100%;
  padding: 0 16px;
  border-radius: 2rem;
  background: #ff8900;
  color: #f9f9f9;
  border: 0;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.375s;
}

.login-form > button:hover {
  background: #a56300;
}

.login-form > a {
  color: #216ce7;
  font-size: 0.9rem;
  text-align: left;
  text-decoration: none;
  margin-bottom: 6px;
  transition: all 0.375s;
}

.login-form > a:hover {
  color: #a56300;
}

.privacy-policy {
   padding: 68px;

}


.privacy-policy h1 {
    margin-bottom: 30px;
    font-weight: bold;

}

.privacy-policy h2 {
    margin-bottom: 30px;
}

.privacy-policy p {
    margin-bottom: 15px;
}


.privacy-policy ul {
    margin-bottom: 20px;
}










































@keyframes rotate {
  100% {
    background-position: 15% 50%;
  }
}

@media (width >= 500px) {
  .body {
    padding: 0;
  }
  .login-card {
    margin: 0;
    width: 400px;
  }
}

/*register card */

.register-card {
  top: 100px;
  bottom: 100px;
  position: relative;
  z-index: 3;
  width: 25%;
  margin: 0 20px;
  padding: 70px 30px 44px;
  border-radius: 1.25rem;
  background: #fff;
  text-align: center;
  box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.3);
}

.register-card > h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 12px;
}

.register-card > h3 {
  color: rgba(0, 0, 0, 0.38);
  margin: 0 0 30px;
  font-weight: 500;
  font-size: 1rem;
}

.register-form {
  width: 100%;
  margin: 0;
  display: grid;
  gap: 16px;
}

.register-form > input,
.register-form > button {
  width: 100%;
  height: 50px;
}

.register-form > input {
  border: 2px solid #ebebeb;
  font-family: inherit;
  font-size: 15px;
  padding: 0 16px;
  border-radius: 1.25rem;
  transition: all 0.375s;
}

.register-form > input:hover {
  border: 2px solid #a56300;
}

.register-form > button {
  cursor: pointer;
  width: 100%;
  padding: 0 16px;
  border-radius: 2rem;
  background: #ff8900;
  color: #f9f9f9;
  border: 0;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.375s;
}

.register-form > button:hover {
  background: #a56300;
}

.register-form > a {
  color: #216ce7;
  font-size: 0.9rem;
  text-align: left;
  text-decoration: none;
  margin-bottom: 6px;
  transition: all 0.375s;
}

.register-form > a:hover {
  color: #c05320;
}

@keyframes rotate {
  100% {
    background-position: 15% 50%;
  }
}

@media (width >= 500px) {
  body {
    padding: 0;
  }
  .register-card {
    margin: 0;
    width: 400px;
  }
}

.new-signup {
  padding-top: 15px;
  text-align: center;
  color: rgb(69, 69, 69);
}

.body_back {
  /* display: grid;*/
  place-items: center;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  background-image: url("../Photos/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  animation: rotate 6s infinite alternate linear;
}

/* 
==================================================
================ StART FORM CREATE ===============
================================================== 
*/
Z .form {
  background-color: rgb(152, 36, 36);
}

.container-create {
  padding: 30px;
  padding-bottom: 50px;
  text-align: center;
  position: relative;
  margin: 84px auto;
  top: 80px;
  background-color: #ffffff;
  width: 600px;
  border-radius: 15px;
}

.container-edit {
  padding: 30px;
  padding-bottom: 50px;
  text-align: center;
  position: relative;
  margin: 0 auto;
  top: 80px;
  background-color: #ffffff;
  width: 600px;
  border-radius: 15px;
}

.title {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}

.container-create form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-edit form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input_field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

.input_field label {
  color: #4d4d4d;
  float: left;
  font-size: 14px;
}

.input_field .select-box {
  width: 100%;
}
.input_field .column {
  width: 100%;
}

.input_field input,
.input_field textarea,
.input_field .select-box select {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  border: 1px solid #8b8b8b;
  border-radius: 6px;
  padding: 0 15px;
}
.input_field input[type="file"] {
  display: flex;
  align-items: center;
  position: relative;
}

.input_field input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  margin-top: 5px;
  background: #084cdf;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
.input_field input[type="file"]::file-selector-button:hover {
  background: #0d45a5;
}

.input_field textarea {
  position: relative;
  height: 100px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px 15px;
  margin-top: 5px;

}

.input_field .btn-create {
  width: 70%;
  height: 45px;
  background: #ff7800;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  padding: 0, 10px;
}

.select-box {
  width: 100%;
}

.select-box select {
  height: 50px;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;

  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0px 10px;
}

/* .column {
    display: flex;
    column-gap: 50px;
} */

/* 
==================================================
================ FIN FORM CREATE ===============
================================================== 
*/

.main-profill {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.main-profill i {
  font-size: 21px;
}

.main-profill a:active,
:focus {
  font-weight: 700;
}

.main-profill a:hover {
  color: var();
}

.user-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 14px;
}

.sub-menu-wrap {
  position: absolute;
  top: 73%;
  right: 2%;
  width: 320px;
  z-index: 10000;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.1s;
}

.sub-menu-wrap.open-menu {
  max-height: 400px;
}

.sub-menu {
  background: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(0 0 0 / 24%);
}

.sub-menu a {
  margin-bottom: 15px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}

.sub-menu-link p {
  width: 100%;
  color: #525252;
  font-size: 16px;
}

.sub-menu-link img {
  width: 40px;
  background: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}

.sub-menu-link span {
  font-size: 22px;
  transition: transform 0.5s;
  color: #525252;
}

.sub-menu-link:hover span {
  transform: translateX(5px);
}

.sub-menu-link:hover p {
  font-weight: 600;
}

.sub-menu i {
  color: #006bfb;
}

@media (max-width: 800px) {
  /*.flex-box {*/
  /*  gap: 10px;*/
  /*}*/

  .logo {
    width: 120px;
    cursor: pointer;

    align-items: center;
    justify-content: space-around;
  }

  .navbar {
    width: 205px;
  }

  header .burger {
    display: flex;
    padding: 5px;
    font-size: 21px;
    cursor: pointer;
  }

  header .right {
    position: fixed;
    left: 0;
    top: 70px;
    width: 100%;
    height: 120px;
    justify-content: center;
    flex-direction: column;
    background-color: #023047;
    z-index: 999;
    gap: 20px;
    height: 0;
    transition: all 300ms ease-in-out;
  }

  header .right.show {
    height: 120px;
  }

  header .right .sell,
  header .right .main {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-3px);
  }

  header .right.show .sell,
  header .right.show .main {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);

    transition: 300ms all 300ms ease-in-out;
  }
  


  .login-card {
    width: 60%;
  }

  .register-card {
    width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .sub-menu-wrap {
    right: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .login-card {
    width: 80%;
    margin: 0 auto;
  }

  .register-card {
    width: 95%;
  }
}

@media (max-width: 400px) {
  .login-card {
    width: 95%;
    margin: 0 auto;
  }
  
  .flex-box {
     margin-right:-228px;
 }
}
