@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --light: #fff;
  --grey: #f1f0f6;
}

body {
  background-color: #f6f5f7;
}

header {
  position: relative;
  width: 100%;
  height: 70px;
  background: #023047;
  color: white;
  display: flex;
  border-radius: 0px 0px 0px 0px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

.logo {
  cursor: pointer;

  align-items: center;
  justify-content: space-around;
}
/*.logo {
  display: flex;
  align-items: center;
  height: 65%;
  margin-left: 3%;
  justify-content: space-around;
}
*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

/* POPUP */
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.829);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 1001;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.popup.show {
  display: flex;
  /* animation-name: fadeIn;
  animation-duration: 0.5s; */
}

.popup .close-popup-btn {
  position: absolute;
  right: 5%;
  top: 1%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #f31559;
  border-radius: var(--radius-half);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 300ms ease-in-out;
  font-size: 20px;
  z-index: 1;
  cursor: pointer;
}

.popup .close-popup-btn span {
  transition: all 300ms ease-in-out;
}

.popup .close-popup-btn:hover span {
  color: white;
}

.popup .close-popup-btn span {
  transition: all 300ms ease-in-out;
}

.popup .close-popup-btn:hover {
  background-color: #f31559;
  color: white;
  transform: scale(1.1);
}

.popup .popup-container {
  width: 40%;
  max-height: 90vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  box-shadow: rgba(14, 105, 196, 0.2) 0px 8px 24px;
  position: relative;
  transform: translateY(-100px);
  opacity: 0;
  border-radius: 10px;
  overflow: hidden;
}

.popup.show .popup-container {
  transform: translateY(0);
  opacity: 1;
  transition: 3000ms all 3000ms ease-in-out;
}

.popup .popup-heading {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  font-weight: 700;
  color: var(--clr-accent);
  border-bottom: 1px solid var(--clr-gray-300);
  margin-bottom: 20px;
}

.popup-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup-container form button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #040943;
  color: white;
  outline: none;
  border: none;
}

.popup .popup-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popup h2 {
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--clr-primary-lighter);
  color: var(--clr-primary);
}

.popup .popup-btn-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* gap: 20px; */
    margin-top: 10px;
}

.popup .popup-btn-group a {
  min-width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
  border-radius: 25px;
  padding: 0 10px;
  transition: all 300ms ease-in-out;
}

.popup .popup-btn-group a.cancel {
    color: black;
    font-size: initial;
}

.popup .popup-btn-group a.cancel:hover {
    font-weight: bold;
}

.popup .popup-btn-group a.continue {
    background-color: #ff8900;
}
.popup .popup-btn-group a.continue:hover {
  background-color: #ff7800;
  font-weight: bold;
}

.header__wrapper {
  margin-top: 84px;
  display: flex;
  flex-direction: column;
}

.header__wrapper .cols__container {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  justify-content: space-between;
  display: flex;

  gap: 20px;
}

.header__wrapper .cols__container .left__col {
  padding: 25px 20px;
  text-align: center;
  position: relative;
  margin: 0 auto;
  top: 50px;
  background-color: #ffffff;
  height: 365px;
  width: 350px;
  border-radius: 15px;
}

.header__wrapper .cols__container .right__col {
  background-color: #ffffff;
  width: calc(100% - 350px);
  height: 100%;
  border-radius: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header__wrapper .cols__container .left__col .img__container {
  position: absolute;
  top: 36px;
  left: 50%;
  transform: translatex(-50%);
}
.header__wrapper .cols__container .left__col .img__container img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}
.header__wrapper .cols__container .left__col .img__container span {
  position: absolute;
  background: #1dbf73;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  bottom: 3px;
  right: 11px;
  border: 2px solid #fff;
}
.header__wrapper .cols__container .left__col h2 {
  margin-top: 150px;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 5px;
}

.header__wrapper .cols__container .left__col .info-nbr {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #1d1d1d;
}

.header__wrapper .cols__container .left__col .info-nbr .nbr-follow {
  margin: 25px;
}

.header__wrapper .cols__container .left__col .info-nbr .nbr-pub {
  margin: 25px;
}

.header__wrapper .cols__container .left__col p {
  font-size: 0.9rem;
  color: #818181;
  margin: 0;
}
.header__wrapper .cols__container .left__col .about {
  justify-content: space-between;
  position: relative;
  margin: 35px 0px;
  gap: 52px;
}
.header__wrapper .cols__container .left__col .about li {
  display: flex;
  flex-direction: column;
  color: #818181;
  font-size: 0.9rem;
}
.header__wrapper .cols__container .left__col .about li span {
  color: #1d1d1d;
  font-weight: 600;
}
.header__wrapper .cols__container .left__col .about:after {
  position: absolute;
  content: "";
  bottom: -16px;
  display: block;
  background: #cccccc;
  height: 1px;
  width: 100%;
}

.header__wrapper .cols__container .user-actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 40px;
}

.header__wrapper .cols__container .message {
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  background: #ff7300;
  color: #fff;
  border-radius: 30px;
  transition: all 300ms ease-in-out;
  font-size: 14px;
}

.header__wrapper .cols__container .follow-seller {
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  background-color: #279eff;
  color: white;
  border-radius: 30px;
  transition: all 300ms ease-in-out;
  font-size: 14px;
}

.follow-seller:hover {
  background-color: #0880e3;
}

.header__wrapper .cols__container .content p {
  font-size: 1rem;
  color: #1d1d1d;
  line-height: 1.8em;
}
.header__wrapper .cols__container .content ul {
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.header__wrapper .cols__container .content ul li {
  display: flex;
}
.header__wrapper .cols__container .content ul i {
  font-size: 1.3rem;
}
.header__wrapper .cols__container .right__col nav {
  display: flex;
  align-items: center;
  padding: 5px 36px;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 25px;
}
.header__wrapper .cols__container .right__col nav ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* .header__wrapper .cols__container .right__col nav ul li a {
  position: relative;
  text-transform: uppercase;
  color: #818181;
} */

/* .header__wrapper .cols__container .right__col nav ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #FB8500;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
} */

/* .header__wrapper .cols__container .right__col nav ul li a:hover::after{
  transform-origin: left;
  transform: scaleX(1);
} */

/* .header__wrapper .cols__container .right__col nav ul li:nth-child(1) a {
  color: #1d1d1d;
  font-weight: 600;
} */

.tabs li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fb8500;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.tabs li:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.tabs li {
  /* color: #1d1d1d; */
  font-weight: 600;
  position: relative;
  text-transform: uppercase;
  color: #818181;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.tabs li.active {
  color: #1d1d1d;
  font-weight: 600;
  position: relative;
  text-transform: uppercase;
  /* color: #818181; */
}

.container > div:not(:first-child) {
  display: none;
}

.header__wrapper .cols__container button {
  background: #0091ff;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: -5px;
}
.header__wrapper .cols__container button:hover {
  opacity: 0.8;
}

.header__wrapper .cols__container .signal {
    background: #1b0404;
    color: #fff;
    border: none;
    padding: 5px 7px;
    border-radius: 31px;
    cursor: pointer;
    /* margin-top: 20px; */
    font-size: 15px;
}
.header__wrapper .cols__container button:hover {
  opacity: 0.8;
}

.main-wrapper {
  min-height: 50vh;
  width: 100%;
  padding: 30px 0;
}

.container {
  width: 100%;
  max-width: 100%;

  padding: 0 30px;
}

.display-style-btns {
  margin: -26px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #ffffff;
  padding-bottom: 16px 0;
  border-radius: 5px;
}
.display-style-btns button {
  border: none;
  font-size: 22px;
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.display-style-btns button:hover {
  color: #fb8500;
}
.active-btn {
  color: #fb8500;
}

/* .mes_produits,
.mes_favoires,
.mes_pause,
.mes_achats,
.mes_ventes {
  margin: 20px 4px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 32px;
} */

/* .main-wrapper > div:not(:first-child) {
  display: none;
} */

.new-price {
  color: #1d1d1d;
  font-size: 20px;
  font-weight: 600;
  margin-right: 12px;
}
.item-detail p {
  font-weight: 300;
  opacity: 0.9;
  font-size: 14px;
  line-height: 1.7;
  display: none;
}
.add-btn {
  margin: 16px 0;
  text-transform: uppercase;
  border: none;
  background-color: #202020;
  color: #fff;
  font-family: inherit;
  padding: 10px 28px;
  border: 1px solid #202020;
  cursor: pointer;
  transition: all 0.3s ease-out;
  display: none;
}
.add-btn:hover {
  background-color: #fff;
  color: #202020;
}

@media screen and (min-width: 768px) {
  .mes_produits,
  .mes_favoires,
  .mes_pause,
  .mes_achats,
  .mes_ventes {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
}

/* Responsiveness */

@media (min-width: 868px) {
  .header__wrapper .cols__container {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
  }
  .header__wrapper .cols__container .left__col {
    padding: 25px 0px;
  }
  .header__wrapper .cols__container .right__col nav ul {
    flex-direction: row;
    gap: 30px;
  }
}

@media (min-width: 1017px) {
  .header__wrapper .cols__container .left__col {
    margin: 0;
    margin-right: auto;
  }
  .header__wrapper .cols__container .right__col nav {
    flex-direction: row;
  }
  .header__wrapper .cols__container .right__col nav button {
    margin-top: 0;
  }
}

@media (max-width: 960px) {
  .header__wrapper .cols__container {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
  }

  .header__wrapper .cols__container .left__col {
    margin: 0;
  }

  .header__wrapper .cols__container .right__col {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .header__wrapper .cols__container {
    padding: 10px;
  }

  .container {
    padding: 0;
  }
}

@media (max-width: 800px) {
  .popup .popup-container {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .popup .popup-container {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .popup .popup-container {
    width: 95%;
  }
}
